#ofertas {
    background: linear-gradient(to bottom, goldenrod, black);
}

.card {
    background: linear-gradient(to bottom, goldenrod, black);
}

/*MARGENES*/
* {
    margin: 0;
    padding: 0;
    padding-left: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 3px;
}
