/*listas*/
.ol {
    list-style-type: upper-roman;
    padding-right: 10px;
    li {
        list-style-type: lower-roman;
    }
}

/*Fondo de "servicios*/
.servicios {
    background-image: url(../img/Imagen\ 1\ para\ servicios.jpg);
    background-size: cover;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 15px;
}

/*Fondo de "productos"*/
.productos {
    background-image: url(../img/Imagen\ 2.jpg);
    background-size: cover;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 15px;
    margin-block-end: auto;
}

/*Grids de "quienes somos"*/
.grid-container {
    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: 1fr 1fr;
}

/*Flexbox de "contactos"*/
.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: 100px;
}

/*Flexbox de formulario*/
.formulario {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grids {
    grid-template-columns: 300px 100px;
    grid-template-rows: 40px 100px;
}